  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Grayscale</h2>
        <p>Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
          <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
        <p>This theme features stock photos by
          <a href="http://gratisography.com/">Gratisography</a>
          along with a custom Google Maps skin courtesy of
          <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
        <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization!</p>
      </div>
    </div>
  </div>
</section>  -->
<section id="about">
  <div class="row">
    <div class="col-md-12">
      <div><h2 style="text-align: center;">Open Access To <u>YOUR</u> Data</h2></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="row">
        <div class="col-md-12 about-text">
          <p>PorkCast pulls from repositories of publicly-available data procured by the folks at <a href="http://sitsd.mt.gov/">SITSD</a> and serves it up to the people.</p>
          <p>Simply sign up, enter a query for your PorkCast and you are good to go! You will be directed to a page for your query which will list all, if any, checks or credit card payments the state has made to that entity or individual since late 2012.</p>
          <p>You can view and manage all of your queries by clicking 'List PorkCasts', or add new queries by clicking 'Create New PorkCast'.</p>
          <p>You will then receive an email any time the State sends a publicly available check or credit card charge to that entity. Sweet! If you just want to browse and do not want an email notification, you can opt out of emails any time in the right hand column.</p>
          <p>So what are you waiting for? Keep your government accountable and start PorkCasting!</p>
          <p>A new Government-Transparency Web Application, built in May 2015 by:</p>
          <strong>Nick Schwaderer - Web Developer</strong><br>
          <a href="mailto:nicholas.schwaderer@gmail.com">Contact</a><br>
          <%= link_to "Github", "https://github.com/schwad" %> :
          <%= link_to "Source Code", "https://github.com/Schwad/PorkCasts-Montana" %> :
          <%= link_to "PorkCast in the News", news_page_path %>
        </div>
      </div>
    </div>
    <div class="col-md-5 about-pics">
      <div style="margin-top:37px;">
        <%= image_tag("index.png", width: '520', alt: 'Demo One') %>
      </div>
      <div style="margin-top:7px;">
        <%= image_tag("show.png", width: '520', alt: 'Demo Two') %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 about-text">
      <p><strong>The fine print:</strong> PorkCast pulls its data off of the State-provided backend platforms; served on a Ruby on Rails web application.</p>
      <p>Our data can only be as timely as the State makes available, which sometimes means the data can be as old as five months or updated only as often as once a month. If you want the state to provide more up-to-date data more frequently, so we can give you real time updates, feel free to <%= link_to "contact Governor Bullock anytime", "https://governor.mt.gov/Home/Contact/shareopinion"  %>. Often times specific state departments are responsible for updating their data, so you may have more success talking directly with department support as well.</p>
    </div>
  </div>
</section>
