
<div class="row">
  <div class="col-md-12">
  <div style="width: 300px; margin-left: 455px;"><h2 style="text-align: center; margin-top:-60px;">What is a PorkCast?</h2></div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 about-text">
            <h4 style="text-align: center;"><strong>Open Access To YOUR Data</strong></h4>
            <p>PorkCast pulls from the repositories of publicly-available data and serves it to the people in a useful format.</p>
            <p>You simply sign up, enter a query for your PorkCast and you are good to go! You will be directed to a page for your query which will list all, if any, checks or credit card payments the state has made to that entity or individual since late 2012.</p>
            <p>You can view and manage all of your queries by clicking 'List PorkCasts', or add new queries by clicking 'Create New PorkCast'.</p>
            <p>You will then receive an email any time the State sends a publicly available check or credit card charge to that entity. Sweet! If you just want to browse and do not want an email notification, you can opt out of emails any time in the right hand column.</p>
            <p>So what are you waiting for? Keep your government accountable and start PorkCasting!</p>
            <p>A new Government-Transparency Web Application, built in May 2015 by:</p>
            <strong>Nick Schwaderer</strong><br>
            <a href="mailto:nicholas.schwaderer@gmail.com">nicholas.schwaderer@gmail.com</a><br>
            <%= link_to "Github", "https://github.com/schwad" %> :
            <%= link_to "Source Code", "https://github.com/Schwad/PorkCasts-Montana" %><br>
            <%= link_to "PorkCast in the News", news_page_path %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 about-text" style="margin-top:2px;">
            <p><strong>Fine print:</strong> PorkCast pulls its data off of the State-provided api operated via Socrata; served on a Ruby on Rails Platform.</p>
            <p>Our data can only be as timely as the State makes available, which sometimes means the data can be as old as five months or updated only as often as once a month. If you want the state to provide more up-to-date data more frequently, so we can give you real time updates, feel free to <%= link_to "contact Governor Bullock anytime", "https://governor.mt.gov/Home/Contact/shareopinion"  %></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 about-pics">
        <div style="margin-top:37px;">
          <%= image_tag("https://s3-us-west-2.amazonaws.com/suchtest/one.png?X-Amz-Date=20150601T123916Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=5f8f966fedda2f0a1e6418f3fdc927021373d298c97bf87843563b7df1546247&X-Amz-Credential=ASIAIG7HMES2OJWTXB4Q/20150601/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEI7//////////wEagAIwxqgRLt9%2BXWgs88rqgApe7HVUiXCiA9X9qWGN00ko4z%2BWpz8vb7WnQrdjuvzgPayI3WSlv19F1Fmud/tE//%2BL5a4XgNwY86pBkPZiMM/KlDODYVcEdzgX/uOwyF%2Be4sKW4kS9Z4dpxtnUpz3GnxyEG70q39PVSpoDJhZMjQyEVbKZWsMDyEU5ncHOK0A2noeI7W2Ul%2BGh10QjGI0ZjHvekSTLFyUV5RQl5VN90CEMuOPKR%2BIo1Klvf7nmapIzDq5mBRwWXG8kgIS5i6XWlP1YMwcFZPKhRLOcWFRlWXKWZ3Xsg9l9s%2BrakrFOwXxqXeP1BxYa/BHWWjOkckPBW8OPINqksasF", width: '550', alt: 'Demo One') %>
        </div>
        <div style="margin-top:7px;">
          <%= image_tag("https://s3-us-west-2.amazonaws.com/suchtest/two.png?X-Amz-Date=20150601T123916Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=ea14521baec2ffe5c1e36923f502f37ab38dc3cefac8e53d8d279b8cd7fbf994&X-Amz-Credential=ASIAIG7HMES2OJWTXB4Q/20150601/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEI7//////////wEagAIwxqgRLt9%2BXWgs88rqgApe7HVUiXCiA9X9qWGN00ko4z%2BWpz8vb7WnQrdjuvzgPayI3WSlv19F1Fmud/tE//%2BL5a4XgNwY86pBkPZiMM/KlDODYVcEdzgX/uOwyF%2Be4sKW4kS9Z4dpxtnUpz3GnxyEG70q39PVSpoDJhZMjQyEVbKZWsMDyEU5ncHOK0A2noeI7W2Ul%2BGh10QjGI0ZjHvekSTLFyUV5RQl5VN90CEMuOPKR%2BIo1Klvf7nmapIzDq5mBRwWXG8kgIS5i6XWlP1YMwcFZPKhRLOcWFRlWXKWZ3Xsg9l9s%2BrakrFOwXxqXeP1BxYa/BHWWjOkckPBW8OPINqksasF", width: '550', alt: 'Demo Two') %>
        </div>
      </div>
    </div>
  </div>
</div>