


<div class = "upper-fold">
<div class="row">
  <div class="col-md-12"><h1><strong>PorkCasts</strong></h1>
    <h2 style="text-align:center;"><strong>Keep tabs on the State Checkbook.<br> Get emails when a new check is written.</strong></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-2">

    <div class="match-bigg" style="text-align:center; width: 250px;z-index: 1000;position:absolute;margin-left:23px;margin-top:-74px;"></div>
    <div class="match-second" style="text-align:center; width: 250px;z-index: 1100;position:absolute;margin-left:883px;margin-top:-74px;"></div>
  </div>
  <div class="col-md-8 center-stuff">
    <div style="margin-left:24px;">
    <%= button_to "Get Started", new_user_registration_path, :class => "btn btn-large", :method => :get %>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
</div>

<% if @max_cards[-1] %>
<div class="row">
  <div class="col-md-6">
    <div class="front-page-header"><h4>Top Credit Card Charges</h4></div>
    <div class="front-page">
      <table class="table table-striped table-bordered">
        <thead>
          <th>#</th>
          <th>Payee</th>
          <th>Payment</th>
          <th>Date</th>
        </thead>
        <tbody>
          <% i = 1 %>
          <% while i < 11 %>
            <tr class="pork-row">
              <td><%= i %></td>
              <td><%= @max_cards[-i]["merchant"]%></td>
              <td><%= "$" + number_with_precision(@max_cards[-i]["amount"].to_i, :precision => 2, :delimiter => ',').to_s %></td>
              <td><%= @max_cards[-i]["billing_date"].to_date.strftime("%m/%d/%Y") %></td>
              <% i += 1 %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
  <% if @max_checks[-1] %>
  <div class="col-md-6">
   <div class="front-page-header"> <h4>Top Checks</h4></div>
    <div class="front-page">
      <table class="table table-striped table-bordered">
        <thead>
          <th>#</th>
          <th>Payee</th>
          <th>Payment</th>
          <th>Date</th>
        </thead>
        <tbody>
          <% i = 1 %>
          <% while i < 11 %>
            <tr class="pork-row">
              <td><%= i %></td>
              <td><%= @max_checks[-i]["payee"]%></td>
              <td><%= "$" + number_with_precision(@max_checks[-i]["amount"].to_i, :precision => 2, :delimiter => ',').to_s %></td>
              <td><%= @max_checks[-i]["payment_date"].to_date.strftime("%m/%d/%Y") %></td>
              <% i += 1 %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
