<div class="row">
  <div class="col-md-12"><h1>PorkCasts</h1></div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <%= form_for @user do |f| %>
        Email:
        <p><%= f.text_field :email %></p>
          <%= f.fields_for :queries do |queries_form| %>
          Query
            <p><%= queries_form.text_field :content %></p>
          <% end %>
          <%= f.submit %>
      <% end %>
    </div>
  <div class="col-md-4"></div>
</div>