<%= javascript_tag do %>
  $("body .animation-while-load").click(function(){
    $(".container").append("<div class='load-animation'><img src='/assets/ajax-loader-b98f0466a81ba5642c9bafbc00964f0e559945a4ec996a165d2179d03bd5e8ca.gif' alt='Ajax loader b98f0466a81ba5642c9bafbc00964f0e559945a4ec996a165d2179d03bd5e8ca' /></div>");
    console.log("click!");
  });
  $(window).keyup(function() {
    $(".match-bigg").append("<div class=" + "'possible-match'" + ">" + "Possible Matches" + "</div>");
    $(".match-second").html("");
    var myData = $("#query_content").val();
    $.ajax( {
      url: "http://www.porkcast.com/tags.json",
      data: { value: myData },
      type: "GET",
      dataType : "json",
      success: function( json ) {
        if($("#query_content").val().length > 2) {
        var myIterator = 1;
          json.forEach(function(tag){
            if(myIterator < 5){
              $(".match-bigg").append("<div class=" + "'possible-match'" + ">" + tag + "</div>");
              myIterator++;
              console.log(myIterator);
            } else if(myIterator < 11){
              $(".match-second").append("<div class=" + "'possible-match'" + ">" + tag + "</div>");
              myIterator++;
            }
          });
          $("body .possible-match").click(function(){
            $this = this;
            console.log($this.textContent);
            $("#query_content").val($this.textContent);
            console.log("click!");
          });
        }
       },
      error: function( xhr, status, errorThrown ) { console.log("error!"); },
      complete: function( xhr, status ) { console.log("complete!"); }
    });
  });
<% end %>


<div class = "upper-fold">
<div class="row">
  <div class="col-md-12"><h1><strong>PorkCasts</strong></h1>
    <h2 style="text-align:center;"><strong>Keep tabs on the State Checkbook.<br> Get emails when a new check is written.</strong></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-2">

    <div class="match-bigg" style="text-align:center; width: 250px;z-index: 1000;position:absolute;margin-left:23px;margin-top:-74px;"></div>
    <div class="match-second" style="text-align:center; width: 250px;z-index: 1100;position:absolute;margin-left:883px;margin-top:-74px;"></div>
  </div>
  <div class="col-md-8 center-stuff">
    <% if current_user %>
      <h2>Welcome to PorkCasts, <%= current_user.email %> !</h2>
      <h4>Not <%= current_user.email %>? <%= link_to "Click here", destroy_user_session_path, :method => :delete %>
    <% end %>

    <%= form_for @user do |f| %>
      <p class="line-one"><strong>Enter your email to get your PorkCasts!</strong></p>
      <%= f.text_field :email, :placeholder => "bob@gmail.com" %>
      <br>
      <br>
      <p class="line-two"><strong>Get a PorkCast whenever the state writes a check to...</strong></p>
      <%= fields_for @query do |query_fields| %>
        <%= query_fields.text_field :content, :placeholder => "Walmart" %>
      <% end %>
      <br><br>
      <div class="porkcast-click">
        <%= f.submit "PorkCast!", :class => 'animation-while-load' %>
      </div>
    <% end %>

    </div>

  <div class="col-md-2">
  </div>
</div>
</div>

<% if @max_cards[-1] %>
<div class="row">
  <div class="col-md-6">
    <div class="front-page-header"><h4>Top Credit Card Charges</h4></div>
    <div class="front-page">
      <table class="table table-striped table-bordered">
        <thead>
          <th>#</th>
          <th>Payee</th>
          <th>Payment</th>
          <th>Date</th>
        </thead>
        <tbody>
          <% i = 1 %>
          <% while i < 11 %>
            <tr class="pork-row">
              <td><%= i %></td>
              <td><%= @max_cards[-i]["merchant"]%></td>
              <td><%= "$" + number_with_precision(@max_cards[-i]["amount"].to_i, :precision => 2, :delimiter => ',').to_s %></td>
              <td><%= @max_cards[-i]["billing_date"].to_date.strftime("%m/%d/%Y") %></td>
              <% i += 1 %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
  <% if @max_checks[-1] %>
  <div class="col-md-6">
   <div class="front-page-header"> <h4>Top Checks</h4></div>
    <div class="front-page">
      <table class="table table-striped table-bordered">
        <thead>
          <th>#</th>
          <th>Payee</th>
          <th>Payment</th>
          <th>Date</th>
        </thead>
        <tbody>
          <% i = 1 %>
          <% while i < 11 %>
            <tr class="pork-row">
              <td><%= i %></td>
              <td><%= @max_checks[-i]["payee"]%></td>
              <td><%= "$" + number_with_precision(@max_checks[-i]["amount"].to_i, :precision => 2, :delimiter => ',').to_s %></td>
              <td><%= @max_checks[-i]["payment_date"].to_date.strftime("%m/%d/%Y") %></td>
              <% i += 1 %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
