  <!-- Intro Header -->
  <div id="main-landing-page"></div>
  <header class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="brand-heading">Porkcasts</h1>
            <p class="intro-text">Keep tabs on the State Checkbook.<br> Get emails when a new check is written.</p>
              <div class="btn btn-lg btn-info">
                <%= link_to "Get Started", new_user_registration_path, :class => "btn btn-large", :method => :get, style: 'color:white;' %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <%= render partial: 'about' %>
  <%= render partial: 'whats_new' %>
  <%= render partial: 'the_fine_print' %>
  <%= render partial: 'tutorial' %>
  <hr>
  <%= render partial: 'contact' %>

  <!-- Map Section -->
  <div id="map"></div>

  <!-- Footer -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
