<div class='container pc-page'>
  <div class="alert alert-info">
    This does not require a login to use.
    If you wish to be able to keep track of your queries, <%= link_to 'Sign In', new_user_session_path %>.
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <h1 style='text-align:center;'>Private Search</h1>
      <br>
      <%= form_tag search_path do %>
        <div class="input-group">
          <%= text_field_tag :q, nil, class: 'form-control', placeholder: 'Search for...' %><br>
          <span class="input-group-btn">
            <%= submit_tag 'Submit', class: 'btn btn-success' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <% if @queries %>
    <div class="row">
      <div class="col-md-12">
        <h3>Results</h3>
      </div>

    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-4", style="text-align:center">
        <h3>Payee Name</h3>
      </div>
    </div>
    <% @queries.each do |query| %>
      <div class="row">
        <div class="col-md-2 col-md-offset-4", style="text-align:center">
          <strong><%= link_to query.content, "/queries/#{query.id}" %></strong>
        </div>
      </div>
    <% end %>
  <% else %>

    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <%= render partial: 'about_searching' %>
      </div>

    </div>
  <% end %>

</div>
