<div class = "row">
  <div class = "col-md-12">
   <h1> Edit <%= @query.content %> query</h1>
  </div>
</div>
<div class = "row">
  <div class = "col-md-12">
   <%= form_for @user do |f| %>
      <%= fields_for @query do |query_fields| %>
        <%= query_fields.text_field :content %>
      <% end %>
      <%= f.submit "Create New PorkCast!" %>
    <% end %>
  </div>
</div>