<h1>POSSIBLE FRAUD</h1>

On <%= Date.today %>, we detected possible fraud for <%= @query.content %>. Our records indicate the payment count should be <%= @query.checks.count %> for checks and <%= @query.credit_cards.count %> for card charges. State records show <%= @check %> checks and <%= @card %> card charges. Check it out.