<!DOCTYPE html>
<html>
<head>
  <title>PorkCasts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render partial: "layouts/navbar" %>
  <p class="notice"><%= notice %></p>
 <% if alert %>
   <p class="alert", style="background-color:#FF9999; margin-bottom: 50px;"><%= alert %></p>
 <% else %>
   <p class="alert"><%= alert %></p>
 <% end %>
  <div class="container main-container">
    <%= yield %>
  </div>
</body>
</html>
